body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: crosshair;
}
#app {
  height: 100vh;
  overflow: hidden;
}
.message-large{

  position: absolute;
  left: 50%;
  bottom: 50%;
  text-align: center;
  color: #6356E5;
  font-size: 5rem;
  transform: translate(-50%, -50%)
}
canvas {
  width: 100%;
  height: 100%;
}
.center {
  position: absolute;
  left: 50%;
  bottom: 50%;
}
.info {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
}
.info-right {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
}
.info-text {
  position: fixed;
  color: #cacada;
  letter-spacing: 0.05rem;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
}
.info-text-right {
  position: fixed;
  color: #cacada;
  letter-spacing: 0.05rem;
  bottom: 20px;
  left: 50%;
  transform: translateX(50%);
}
.info-item {
  padding: 2rem;
  margin: 20px;

}
.info-item:last-of-type {
  padding: 0;
}
.item-title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 200;
  color: #cacada;
  letter-spacing: 0.15rem;
  text-align: right;
  margin: 0;
}
.item-data {
  font-size: 4rem;
  font-weight: 200;
  line-height: 0.8em;
  margin: 0;
  text-align: right;
}

.item-button {
  font-size: 3rem;
  font-weight: normal ;
  line-height:1.0em;
  margin: 0;
  padding: 1rem;
  text-align: center;
  background-color: transparent;
  color: #6356E5;
  border: none;
}
.item-button:hover{
  font-size: 3rem;
  font-weight: normal;
  line-height:1.0em;
  margin: 0;
  text-align: center;
  align-self: center;
  color: white;
  background-color: #6356E5;
  animation: b 3s infinite ;
}
@keyframes b{
  0% {
    font-weight: normal;
  }

  100% {
    font-weight: bold;
  }
}