body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: crosshair;
}
#app {
  height: 100vh;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
}

.info {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
}
.info-text {
  position: fixed;
  color: #cacada;
  letter-spacing: 0.05rem;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
}
.info-item {
  padding-bottom: 1rem;
}
.info-item:last-of-type {
  padding-bottom: 0;
}
.item-title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 200;
  color: #cacada;
  letter-spacing: 0.15rem;
  text-align: right;
  margin: 0;
}
.item-data {
  font-size: 4rem;
  font-weight: 200;
  line-height: 0.8em;
  margin: 0;
  text-align: right;
}
.item-button {
  font-size: 3rem;
  font-weight: 200;
  line-height:1.0em;
  margin: 0;
  text-align: center;
  align-self: center;
  border: 1px solid #3498db;
  background: black;
  color: white;
  display: flex;
}
.item-button:hover{
    font-size: 3rem;
  font-weight: 200;
  line-height:1.0em;
  margin: 0;
  text-align: center;
  align-self: center;
  border: 1px solid #3498db;
  
  display: flex;
     animation: b 3s infinite ;
}
@keyframes b{
  0% {
    font-size: 3rem;


  }
  50% {
       font-size: 5rem;

  }
  100% {
        font-size: 3rem;
  }
}